body {
  padding-top: 50px;
  font-size: 18px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.filters{
	padding-bottom: 25px;
	text-align: center;
}

input[type=checkbox] {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    padding: 10px;
}

td{
	padding: 5px 5px 0px 5px;
}

.ng-invalid.ng-dirty{
  border-color:red;
}

.ng-valid.ng-dirty{
  border-color: green
}

.bold {
font-weight: bold;
}

@media (min-width: 768px){
.modal-dialog {
    width: 900px;
    margin: 30px auto;
}