<div ng-controller="durabilityController as durabilityCtrl">
    <div class="starter-template">
        <h1>Gerência de Durabilidade</h1>
    </div>
    <div class="container">
        <form name="createDurabilityForm" ng-submit="durabilityCtrl.createNew()" novalidate>
            <div class="col-sm-3 filters">
                <p>Equipamento</p>
                <input type="text" name="equipment" ng-model="newDurability.equipment" ng-required="true" uib-typeahead="equipment._id for equipment in equipments | filter:$viewValue | limitTo:12" class="form-control" placeholder="Nome do Equipamento. Ex: Luva">
            </div>
            <div class="col-sm-3 filters">
                <p>Material</p>
                <tags-input class="bootstrap" name="material" ng-model="newDurability.material" placeholder="Material utilizado no equipamento." replace-spaces-with-dashes="false" minLength="1">
                    <auto-complete source="loadMaterials($query)" min-length="1" max-results-to-show="10"></auto-complete>
                </tags-input>
            </div>
            <div class="col-sm-2 filters">
                <p>Durabilidade</p>
                <input type="number" name="days" ng-model="newDurability.days" ng-required="true" class="form-control" placeholder="Dias"/>
            </div>
            <div class="col-sm-2 filters">
                <p>Tipo de exposição</p>
                <div class="btn-group">
                    <span class="control-label">Limitada</span><input type="radio" ng-model="newDurability.type" ng-dblclick="newDurability.type=null" value="Limitada"><br/>
                    <span class="control-label">Comum</span><input type="radio" ng-model="newDurability.type" ng-dblclick="newDurability.type=null" value="Comum"><br/>
                    <span class="control-label">Extendida</span><input type="radio" ng-model="newDurability.type" ng-dblclick="newDurability.type=null" value="Extendida">
                </div>
            </div>
            <div class="col-sm-2 filters">
                <p>Anexo</p>
                <div class="fileUpload btn btn-primary" style="margin:0px;" ng-hide="uploadingBase">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    <span>Anexar arquivo</span>
                    <input class="upload" type="file" ngf-select ng-model="newDurability.file" name="file" accept=".pdf" ngf-max-size="5MB" ngf-model-invalid="errorFile">
                </div>
            </div>
            <div class="col-sm-1 filters">
                <br/>
                <button class="btn btn-primary center-block" style="margin-top:10px;" type="submit" ng-disabled="fetching || createDurabilityForm.$invalid">Inserir &raquo;</button>
            </div>
        </form>
    </div>
    <span class="pull-right">
        Existem
        {{durabilities.length}}
        durabilidades cadastradas
    </span>
    <br/>
    <span ng-show="success" class="text-success h3">{{successMsg}}</span>
    <span ng-show="error" class="text-danger h3">{{errorMsg}}</span>
    <hr/>
    <div class="table-responsive" style="padding-bottom: 20px;">
        <table class="table table-striped">
            <thead style="font-weight: bold;">
                <th>
                    <a href="" ng-click="durabilityCtrl.orderBy('created')">Atualizado</a>
                </th>
                <th>
                    <a href="" ng-click="durabilityCtrl.orderBy('equipment')">Equipamento</a>
                </th>
                <th>
                    <a href="">Material</a>
                </th>
                <th>
                    <a href="" ng-click="durabilityCtrl.orderBy('days')">Durabilidade</a>
                </th>
                <th>
                    <a href="" ng-click="durabilityCtrl.orderBy('type')">Tipo de exposição</a>
                </th>
                <th>
                    <a href="" ng-click="durabilityCtrl.orderBy('fileName')">Arquivo</a>
                </th>
            </thead>
            <tr ng-repeat="durability in durabilities | orderBy:orderCriteria:orderDirection" ng-hide="fetching">
                <td>
                    {{durability.created.$date | date:'dd/MM/yyyy'}}
                </td>
                <td ng-hide="editing" title={{durability.equipment}}>
                    {{durability.equipment | limitTo:30}}{{durability.equipment.length > 30 ? '...' : ''}}
                </td>
                <td ng-hide="editing">
                    {{durabilityCtrl.printMaterials(durability.material)}}
                </td>
                <td ng-hide="editing">{{durability.days}}
                    {{durability.days>1?'dias':'dia'}}
                </td>
                <td ng-hide="editing">
                    {{durability.type}}
                </td>
                <td ng-hide="editing" title={{durability.fileName}}>
                    <a ng-href="{{durabilityCtrl.getFile(durability.fileName)}}" target="_self" title={{durability.fileName}} download>
                        {{durability.fileName | limitTo:20}}{{durability.fileName.length > 20 ? '...' : ''}}
                    </a>
                </td>
                <td ng-hide="editing">
                    <button class="btn btn-primary center-block" title="Editar" ng-click="editing=true" ng-hide="editing">
                        <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                    </button>
                </td>
                <td ng-hide="editing" ng-form="deleteDurabilityForm">
                    <button class="btn btn-primary center-block" title="Remover" ng-click="durabilityCtrl.delete(durability._id.$oid)">
                        <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                    </button>
                </td>
                <td ng-show="editing">
                    <input type="text" ng-model="durability.equipment" uib-typeahead="equipment._id for equipment in equipments | filter:$viewValue | limitTo:12" class="form-control" placeholder="Nome do Equipamento. Ex: Luva">
                </td>
                <td ng-show="editing">
                    <tags-input class="bootstrap" name="material" ng-model="durability.material" placeholder="Material utilizado no equipamento." replace-spaces-with-dashes="false" minLength="1">
                        <auto-complete source="loadMaterials($query)" min-length="1" max-results-to-show="10"></auto-complete>
                    </tags-input>
                </td>
                <td ng-show="editing">
                    <input ng-model="durability.days" class="form-control" type="number" placeholder="Tempo em dias"/>
                </td>
                <td ng-show="editing">
                    <div class="btn-group">
                        <span class="control-label">Limitada</span><input type="radio" ng-model="durability.type" ng-dblclick="durability.type=null" value="Limitada"><br/>
                        <span class="control-label">Comum</span><input type="radio" ng-model="durability.type" ng-dblclick="durability.type=null" value="Comum"><br/>
                        <span class="control-label">Extendida</span><input type="radio" ng-model="durability.type" ng-dblclick="durability.type=null" value="Extendida">
                    </div>
                </td>
                <td ng-show="editing">
                    <div class="fileUpload btn btn-primary" style="margin:0px;" ng-hide="uploadingBase">
                        <i class="fa fa-upload" aria-hidden="true"></i>
                        <span>Alterar arquivo</span>
                        <input class="upload" type="file" ngf-select ng-model="durability.file" name="file" accept=".pdf" ngf-max-size="5MB" ngf-model-invalid="errorFile">
                    </div>
                </td>
                <td ng-show="editing">
                    <button class="btn btn-primary center-block" title="Salvar" type="submit" ng-click="durabilityCtrl.update(durability);editing=false" ng-show="editing">
                        <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
                    </button>
                </td>
                <td ng-show="editing">
                    <button class="btn btn-primary center-block" title="Cancelar Edição" ng-click="editing=false" ng-show="editing">
                        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                    </button>
                </td>
            </table>
            <div ng-show="fetching" class="text-center">
                <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
        </div>
    </div>
