<div ng-controller="caController as caCtrl">
    <div class="starter-template">
        <h1>Busca de CA</h1>
    </div>
    <div class="container">
        <form name="searchForm" ng-submit="caCtrl.submitForm()" novalidate>
            <div class="col-sm-4 filters form-inline">
                <p>Número do CA:</p>
                <input type="checkbox" ng-model="query.exactSearch" title="Buscar apenas pelo número exato do CA"/>
                <input ng-model="query.number" maxlength="5" class="form-control width90" type="text" placeholder="Número exato ou parcial do CA"/>
            </div>
            <div class="col-sm-4 filters">
                <p>Nome da Empresa:</p>
                <input ng-model="query.company" class="form-control" type="text" placeholder="Nome da Empresa. Ex: 3M"/>
            </div>
            <div class="col-sm-4 filters">
                <p>Aprovado para:</p>
                <input ng-model="query.approvedFor" class="form-control" type="text" placeholder="Finalidade para qual o equipamento foi aprovado"/>
            </div>
            <div class="col-sm-4 filters">
                <p>Validade do CA:</p>
                <span>Válido:
                </span><input type="checkbox" ng-model="query.status.valid"/>
                <span>Vencido:</span>
                <input type="checkbox" ng-model="query.status.invalid"/>
            </div>
            <div class="col-sm-4 filters">
                <p>Equipamento:</p>
                <input ng-model="query.equipment" class="form-control" type="text" placeholder="Nome do equipamento. Ex: Luva"/>
            </div>
            <div class="col-sm-2 col-sm-offset-1 filters">
                <button class="btn btn-primary btn-lg center-block" type="submit" ng-disabled="fetching">Buscar CA &raquo;</button>

            </div>
            <div class="col-sm-4 text-center" ng-if="cas.length>=0 || error">
                <span class="b text-info" ng-show="count!=undefined">{{count}}
                    CAs encontrados. Exibindo
                    {{cas.length}}</span>
            </div>
        </form>
    </div>
    <span class="b text-danger h3" ng-show="error">{{errorMsg}}</span>
    <span class="b text-success h3" ng-show="success">{{successMsg}}</span>
    <hr/>
    <div class="table-responsive" style="padding-bottom: 20px;">
        <table class="table table-striped">
            <thead style="font-weight: bold;">
                <th>
                    <a href="" ng-click="caCtrl.orderBy('number')">Número</a>
                </th>
                <th>
                    <a href="" ng-click="caCtrl.orderBy('date')">Validade</a>
                </th>
                <th>
                    <a href="" ng-click="caCtrl.orderBy('status')">Situação</a>
                </th>
                <th>
                    <a href="" ng-click="caCtrl.orderBy('equipment')">Equipamento</a>
                </th>
            </thead>
            <tr ng-repeat="ca in cas | orderBy:orderCriteria:orderDirection" ng-hide="fetching">
                <td>
                    <div>
                        <div class="dropdown" ng-if="caCtrl.diffCheck(ca)">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>
                                    <button class="btn btn-primary btn-xs" ng-if="!userCtrl.isUser()" title="Comparar" ng-click="caCtrl.compare(ca)">
                                        <i class="fa fa-balance-scale fa-2x fa-2x" aria-hidden="true"></i>
                                        Comparar
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-primary btn-xs" ng-if="userCtrl.isAdmin()" title="Remover" ng-click="caCtrl.delete(ca)">
                                        <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Remover
                                    </button>
                                </li>
                            </ul>
                        </div>
                        {{::ca.number}}
                    </div>
                </td>
                <td>{{::ca.date | limitTo:12}}</td>
                <td class="text-capitalize" title={{ca.status}}>{{::ca.status | lowercase | limitTo:13}}{{ca.status.length>13?'...':''}}</td>
                <td class="text-capitalize" title={{ca.equipment}}>{{::ca.equipment | lowercase | limitTo:30}}{{ca.equipment.length > 30 ? '...' : ''}}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogTestDialog{{$index}}">Detalhes</button>
                </td>
                <td>
                    <a class="btn btn-primary" type="button" ng-href="{{::caCtrl.getPdf(ca.fileName)}}" target="_self" download>Gerar PDF &raquo;</a>
                    <!--Mca begins-->
                    <div class="modal" id="dialogTestDialog{{$index}}" tabindex="-1" role="dialog" aria-labelledby="executionOptionLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content table-responsive">
                                <div class="modal-header">
                                    <p class="text-center bold" style="white-space: normal;">Certificado de Aprovação de Equipamento de Proteção Individual</p>
                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                    <span class="text-left bold">
                                        Nº do CA:</span>
                                    {{ca.number}}
                                    <span class="text-right text-capitalize bold" style="padding-left: 50px;">
                                        <b>Situação:</b>
                                        <span ng-class="ca.status=='VENCIDO'?'text-danger':'text-success'">{{ca.status | lowercase}}
                                        </span>
                                    </span>
                                </div>
                                <div class="modal-body">
                                    <table style="white-space: normal;" class="table-striped">
                                        <tr>
                                            <td colspan="2">
                                                <p>
                                                    <b>Validade:</b>
                                                    <span>{{::ca.date}}</span>
                                                    <b>Nº do Processo:</b>
                                                    <span>{{::ca.processNumber}}</span>
                                                </p>
                                            </td>
                                        </tr>
                                        <td style="width: 42%;">
                                            <b>CNPJ:</b>
                                            {{::ca.cnpj}}
                                        </td>
                                        <td>
                                            <span class="text-capitalize">
                                                <b>Razão Social:</b>
                                                {{::ca.company | lowercase}}</span>
                                        </td>
                                        <tr>
                                            <td colspan="2 ">
                                                <p>
                                                    <b>Natureza:</b>
                                                    {{::ca.origin}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2 ">
                                                <p class="text-capitalize ">
                                                    <b>Equipamento:</b>
                                                    {{::ca.equipment | lowercase}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2 ">
                                                <p>
                                                    <b>Descrição:</b>
                                                    {{::ca.description}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2 ">
                                                <p class="bold ">
                                                    <i class="fa fa-arrow-circle-right " aria-hidden="true "></i>
                                                    Dados Complementares</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2 ">
                                                <p>
                                                    <b>Marcação do CA:</b>
                                                    {{::ca.caLocation}}</p>
                                            </td>
                                        </tr>
                                        <tr ng-show="ca.references.length>0">
                                            <td colspan="2">
                                                <p>
                                                    <b>Referências:</b>
                                                    {{::ca.references}}</p>
                                            </td>
                                        </tr>
                                        <tr ng-show="ca.colors.length>0">
                                            <td colspan="2">
                                                <p>
                                                    <b>Cores:</b>
                                                    {{::ca.colors}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <p class="bold">
                                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                                    Laudo</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <p class="text-capitalize">
                                                    <b>Aprovado Para:</b>
                                                    {{::ca.approvedFor | lowercase}}</p>
                                            </td>
                                        </tr>
                                        <tr ng-show="ca.observation.length>0">
                                            <td colspan="2">
                                                <p class="text-capitalize">
                                                    <b>Observação:</b>
                                                    {{::ca.observation}}</p>
                                            </td>
                                        </tr>
                                        <tr ng-show="ca.restrictions.length>0">
                                            <td colspan="2">
                                                <p>
                                                    <b>Restrição:</b>
                                                    {{::ca.restrictions}}</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table class="text-center">
                                                    <thead>
                                                        <th class="text-center">Nº do Laudo</th>
                                                        <th class="text-center">Laboratório</th>
                                                        <th class="text-center">Razão Social</th>
                                                    </thead>
                                                    <tr ng-repeat="report in ca.reports">
                                                        <td style="max-width: 21%">{{::report.reportNumber}}</td>
                                                        <td style="width: 21%">{{::report.laboratoryCNPJ}}</td>
                                                        <td class="text-capitalize text-left">{{::report.laboratoryName | lowercase}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <p>
                                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                                    <b>
                                                        Normas:</b>
                                                    {{::ca.technicalRules.join(", ")}}</p>
                                            </td>
                                        </tr>
                                        <tr ng-hide="ca.attenuationTable==null">
                                            <td colspan="2">
                                                <p class="bold">
                                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                                    Tabela de atenuação</p>
                                            </td>
                                        </tr>
                                        <tr ng-hide="ca.attenuationTable==null">
                                            <td colspan="2">
                                                <table class="text-center table-bordered">
                                                    <tr>
                                                        <td>
                                                            Frequência (Hz):
                                                        </td>
                                                        <td ng-repeat="freq in ca.attenuationTable.frequencies track by $index">
                                                            {{freq}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Atenuação db:
                                                        </td>
                                                        <td ng-repeat="db in ca.attenuationTable.dbAttenuations track by $index">
                                                            {{db}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Desvio Padrão:
                                                        </td>
                                                        <td ng-repeat="dev in ca.attenuationTable.deviations track by $index">
                                                            {{dev}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr ng-hide="ca.history==null">
                                            <td colspan="2">
                                                <p>
                                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                                    <b>Histórico de Alterações do CA</b>
                                                </p>
                                                <table class="text-center table-bordered table-striped">
                                                    <tr>
                                                        <td>
                                                            <b>Data da Alteração (Ordem Crescente)</b>
                                                        </td>
                                                        <td>
                                                            <b>Ocorrência CA</b>
                                                        </td>
                                                    </tr>
                                                    <tr ng-repeat="history in ca.history">
                                                        <td>
                                                            {{history.date}}
                                                        </td>
                                                        <td>
                                                            {{history.status}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <p style="padding-right: 10px;" class="text-right">
                                        <a class="btn btn-primary btn-lg" type="button" ng-href="{{::caCtrl.getPdf(ca.fileName)}}" target="_self" download>Gerar PDF &raquo;</a>
                                        <button class="btn btn-primary btn-lg" type="button" data-dismiss="modal">Fechar</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal ends-->
                </td>
            </tr>
        </table>
        <div ng-show="fetching" class="text-center">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>

        <!--Compare MODAL-->
        <div class="modal" id="compareCaModal" tabindex="-1" role="dialog" aria-labelledby="executionOptionLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content table-responsive">
                  <div class="modal-header" ng-show="updateSuccess || updateError || updatingCA">
                    <span ng-show="updateSuccess" class="text-success h3 text-center">{{updateSuccessMsg}}</span>
                    <span ng-show="updateError" class="text-danger h3 text-center">{{updateErrorMsg}}</span>
                    <div ng-show="updatingCA" class="text-center">
                        <i class="fa fa-spinner fa-spin fa-3x"></i>
                    </div>
                  </div>
                    <div class="modal-body">
                        <p class="text-center bold" style="white-space: normal;">Certificado de Aprovação de Equipamento de Proteção Individual</p>
                        <div class=" col-sm-6" ng-repeat="caf in caFound">
                            <table style="white-space: normal;" class="table-striped">
                                <tr>
                                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                    <span class="text-left bold">
                                        Nº do CA:</span>
                                    {{caf.number}}
                                    <span class="text-right text-capitalize bold" style="padding-left: 50px;">
                                        <b>Situação:</b>
                                        <span ng-class="caf.status=='VENCIDO'?'text-danger':'text-success'">{{caf.status | lowercase}}
                                        </span>
                                    </span>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p>
                                            <b>Validade:</b>
                                            <span>{{caf.date}}</span>
                                            <b>Nº do Processo:</b>
                                            <span>{{caf.processNumber}}</span>
                                        </p>
                                    </td>
                                </tr>
                                <td style="width: 42%;">
                                    <b>CNPJ:</b>
                                    {{caf.cnpj}}
                                </td>
                                <td>
                                    <span class="text-capitalize">
                                        <b>Razão Social:</b>
                                        {{caf.company | lowercase}}</span>
                                </td>
                                <tr>
                                    <td colspan="2 ">
                                        <p>
                                            <b>Natureza:</b>
                                            {{caf.origin}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2 ">
                                        <p class="text-capitalize ">
                                            <b>Equipamento:</b>
                                            {{caf.equipment | lowercase}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" ng-class="caFound[0].description != caFound[1].description?'border-warning':''">
                                        <p>
                                            <b>Descrição:</b>
                                            <span ng-click="editDescription=true" ng-hide="editDescription" uib-popover="Clique para editar!" popover-trigger="'mouseenter'" popover-animation="false">{{caf.description}}</span>
                                            <textarea type="text" class="form-control" ng-model="caf.description" ng-show="editDescription"></textarea>
                                            <button class="btn btn-primary btn-xs" type="button" ng-show="editDescription" ng-click="editDescription=false">
                                                <i class="fa fa-times fa-1x" aria-hidden="true"></i>
                                                Cancelar
                                            </button>
                                            <button class="btn btn-primary btn-xs" type="button" ng-show="editDescription" ng-click="caCtrl.updateCA({'key':'description', 'value':caf.description, 'id':caf._id}); editDescription=false">
                                                <i class="fa fa-floppy-o fa-1x" aria-hidden="true"></i>
                                                Salvar
                                            </button>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2 ">
                                        <p class="bold ">
                                            <i class="fa fa-arrow-circle-right " aria-hidden="true "></i>
                                            Dados Complementares</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2 ">
                                        <p>
                                            <b>Marcação do CA:</b>
                                            {{caf.caLocation}}</p>
                                    </td>
                                </tr>
                                <tr ng-show="caf.references.length>0">
                                    <td colspan="2">
                                        <p>
                                            <b>Referências:</b>
                                            {{caf.references}}</p>
                                    </td>
                                </tr>
                                <tr ng-show="caf.colors.length>0">
                                    <td colspan="2">
                                        <p>
                                            <b>Cores:</b>
                                            {{caf.colors}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p class="bold">
                                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                            Laudo</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" ng-class="caFound[0].approvedFor != caFound[1].approvedFor?'border-warning':''">
                                        <p>
                                            <b>Descrição:</b>
                                            <span ng-click="editApprovedFor=true" ng-hide="editApprovedFor" uib-popover="Clique para editar!" popover-trigger="'mouseenter'" popover-animation="false">{{caf.approvedFor}}</span>
                                            <textarea type="text" class="form-control" ng-model="caf.approvedFor" ng-show="editApprovedFor"></textarea>
                                            <button class="btn btn-primary btn-xs" type="button" ng-show="editApprovedFor" ng-click="editApprovedFor=false">
                                                <i class="fa fa-times fa-1x" aria-hidden="true"></i>
                                                Cancelar
                                            </button>
                                            <button class="btn btn-primary btn-xs" type="button" ng-show="editApprovedFor" ng-click="caCtrl.updateCA({'key':'approvedFor', 'value':caf.approvedFor, 'id':caf._id}); editApprovedFor=false">
                                                <i class="fa fa-floppy-o fa-1x" aria-hidden="true"></i>
                                                Salvar
                                            </button>
                                        </p>
                                    </td>
                                </tr>
                                <tr ng-show="caf.observation.length>0">
                                    <td colspan="2">
                                        <p class="text-capitalize">
                                            <b>Observação:</b>
                                            {{caf.observation}}</p>
                                    </td>
                                </tr>
                                <tr ng-show="caf.restrictions.length>0">
                                    <td colspan="2">
                                        <p>
                                            <b>Restrição:</b>
                                            {{caf.restrictions}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <table class="text-center">
                                            <thead>
                                                <th class="text-center">Nº do Laudo</th>
                                                <th class="text-center">Laboratório</th>
                                                <th class="text-center">Razão Social</th>
                                            </thead>
                                            <tr ng-repeat="report in caf.reports">
                                                <td style="max-width: 21%">{{report.reportNumber}}</td>
                                                <td style="width: 21%">{{report.laboratoryCNPJ}}</td>
                                                <td class="text-capitalize text-left">{{report.laboratoryName | lowercase}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p>
                                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                            <b>
                                                Normas:</b>
                                            {{caf.technicalRules.join(", ")}}</p>
                                    </td>
                                </tr>
                                <tr ng-hide="caf.attenuationTable==null">
                                    <td colspan="2">
                                        <p class="bold">
                                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                            Tabela de atenuação</p>
                                    </td>
                                </tr>
                                <tr ng-hide="caf.attenuationTable==null">
                                    <td colspan="2">
                                        <table class="text-center table-bordered">
                                            <tr>
                                                <td>
                                                    Frequência (Hz):
                                                </td>
                                                <td ng-repeat="freq in caf.attenuationTable.frequencies track by $index">
                                                    {{freq}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Atenuação db:
                                                </td>
                                                <td ng-repeat="db in caf.attenuationTable.dbAttenuations track by $index">
                                                    {{db}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Desvio Padrão:
                                                </td>
                                                <td ng-repeat="dev in caf.attenuationTable.deviations track by $index">
                                                    {{dev}}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr ng-hide="caf.history==null">
                                    <td colspan="2">
                                        <p>
                                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                            <b>Histórico de Alterações do CA</b>
                                        </p>
                                        <table class="text-center table-bordered table-striped">
                                            <tr>
                                                <td>
                                                    <b>Data da Alteração (Ordem Crescente)</b>
                                                </td>
                                                <td>
                                                    <b>Ocorrência CA</b>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="history in caf.history">
                                                <td>
                                                    {{history.date}}
                                                </td>
                                                <td>
                                                    {{history.status}}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p style="padding-right: 10px;" class="text-right">
                            <button class="btn btn-primary btn-lg" type="button" data-dismiss="modal">Fechar</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Compare MODAL-->
    </div>
</div>
